.questions__item {
    background-color: var(--main-color);
    color: var(--main-dark);
    font-weight: 700;
    font-size: 24px;
    padding: 30px 70px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.3s;
}

.questions__item::after {
    content: "";
    background-image: url(../../assets/img/plus-default-colored.svg);
    background-repeat: no-repeat;
    background-position: right center;
    display: block;
    width: 46px;
    height: 46px;
    transition: 0.3s;
}

.questions__item:nth-child(2n)::after {
    content: "";
    background-image: url(../../assets/img/plus-default.svg);
    background-repeat: no-repeat;
    background-position: right center;
    display: block;
    width: 46px;
    height: 46px;
}

.questions__item:hover::after {
    background-image: url(../../assets/img/plus-default-colored-hover.svg);
}

.questions__item:nth-child(2n):hover::after {
    background-image: url(../../assets/img/plus-default-hover.svg);
}

.questions__item:active::after {
    background-image: url(../../assets/img/minus-default-colored.svg);
    transition: 0.3s;
}

.questions__item:nth-child(2n):active::after {
    background-image: url(../../assets/img/minus-default.svg);
}

.questions__item:last-child {
    margin-bottom: 0;
}

.questions__item:nth-child(2n) {
    background-color: var(--main-purple);
    color: var(--main-color);
}

@media (max-width:1200px) {
    .questions__item {
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 26px;
        padding-right: 20px;
        font-size: 20px;
        line-height: 24px;
    }
    .questions__item:nth-child(2n) {
        background-color: var(--main-color);
        color: var(--main-dark);
    }
    .questions__item:nth-child(2n)::after {
        background-image: url(../../assets/img/plus-default-colored.svg);
    }
    .questions__item::after {
        background-image: url(../../assets/img/plus-default-colored.svg);
    }
    .questions__item:nth-child(2n):hover::after {
        background-image: url(../../assets/img/plus-default-colored-hover.svg);
    }
    .questions__item:nth-child(2n):active::after {
        background-image: url(../../assets/img/minus-default-colored.svg);
    }
}

@media (max-width:1000px) {
    .questions__item {
        font-size: 18px;
        line-height: 24px;
        padding-left: 54px;
        padding-right: 65px;
    }
}

@media (max-width:680px) {
    .questions__item {
        font-size: 12px;
        line-height: 16px;
        padding: 7px 13px;
    }
    .questions__item::after,
    .questions__item:nth-child(2n)::after {
        width: 30px;
        height: 30px;
        background-size: contain;
    }
}