.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    background-color: rgba(27, 26, 27, 0.7);
    display: block;
}
.callBack-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    max-width: 600px;
    background-color: var(--main-purple);
    padding-top: 60px;
    padding-bottom: 80px;
    top: 145px;
    margin: 0 auto;
    position: relative;
}
.callBack-modal__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
}
.callBack-form {

}
.callBack-form__container {
    row-gap: 40px;
    display: flex;
    flex-direction: column;
}
.callback-input__label {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}
.callback-input {

}
.callback-input__name {

}
.callback-input__phone {

}
.callBack-modal__controls {

}
.callBack-modal__btn {
    color: #6C0287;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    width: 300px;
    height: 60px;
    appearance: none;
    border: 3px solid transparent;
    border-radius: 10px;

    display: block;
    outline-offset: 1px;
    outline-width: 1px;
    outline-color: #CD06FF;
    transition: 0.3s;
    -webkit-box-shadow: 0px 0px 27px 22px rgba(255, 255, 255, 0.2);
    -moz-box-shadow: 0px 0px 27px 22px rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 24px 18px rgba(255, 255, 255, 0.2);
}
@media (max-width:1000px) {

}

@media (max-width:680px) {
   .callBack-modal {
       max-width: 280px;
       padding-left: 30px;
       padding-right: 30px;
       top: 20px;
   }
    .callBack-modal__btn {
        width: 242px;
    }
}